name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2']

    name: PHP ${{ matrix.php }} tests

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - uses: "ramsey/composer-install@v1"
        with: # ext-rdkafka not needed for tests, and a pain to install on CI;
          composer-options: "--ignore-platform-req=ext-rdkafka"

      - run: sed -i 's/525568/16777471/' vendor/kwn/php-rdkafka-stubs/stubs/constants.php

      - run: vendor/bin/phpunit --exclude-group=functional
