*~
/.idea/
bin/doctrine*
bin/php-cs-fixer*
bin/phpunit*
bin/sql-formatter*
bin/phpstan*
bin/jp.php*
bin/php-parse*
bin/google-cloud-batch*
bin/patch-type-declarations*
bin/thruway
bin/var-dump-server*
bin/yaml-lint*
vendor
var
.php_cs
.php_cs.cache
composer.lock
.phpunit.result.cache
.php-cs-fixer.cache
