parameters:
	excludes_analyse:
		- pkg/enqueue/Util/UUID.php
		- pkg/enqueue-bundle/Tests/Functional/App
		- pkg/job-queue/Test/JobRunner.php
		- pkg/job-queue/Tests/Functional/app/AppKernel.php
		- pkg/redis/PhpRedis.php
		- pkg/redis/RedisConnectionFactory.php
		- pkg/gearman
		- pkg/amqp-ext/AmqpConsumer.php