parameters:
	excludes_analyse:
		- docs
		- bin
		- docker
		- var
		- pkg/amqp-lib/tutorial
		- pkg/enqueue-bundle/Tests/Functional/App/AsyncListener.php
		- pkg/enqueue/Util/UUID.php
		- pkg/job-queue/Test/JobRunner.php
		- pkg/job-queue/Tests/Functional/app/AppKernel.php
		- pkg/rdkafka/RdKafkaConsumer.php
		- pkg/async-event-dispatcher/DependencyInjection/Configuration.php
		- pkg/enqueue-bundle/DependencyInjection/Configuration.php
		- pkg/enqueue/Tests/Symfony/DependencyInjection/TransportFactoryTest.php
		- pkg/simple-client/SimpleClient.php
