<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./vendor/autoload.php"
        >

    <testsuites>
        <testsuite name="enqueue">
            <directory>pkg/enqueue/Tests</directory>
        </testsuite>

        <testsuite name="stomp transport">
            <directory>pkg/stomp/Tests</directory>
        </testsuite>

        <testsuite name="amqp-ext transport">
            <directory>pkg/amqp-ext/Tests</directory>
        </testsuite>

        <testsuite name="amqp-lib transport">
            <directory>pkg/amqp-lib/Tests</directory>
        </testsuite>

        <testsuite name="amqp-bunny transport">
            <directory>pkg/amqp-bunny/Tests</directory>
        </testsuite>

        <testsuite name="amqp-lib transport">
            <directory>pkg/amqp-lib/Tests</directory>
        </testsuite>

        <testsuite name="amqp-tools">
            <directory>pkg/amqp-tools/Tests</directory>
        </testsuite>

        <testsuite name="fs transport">
            <directory>pkg/fs/Tests</directory>
        </testsuite>

        <testsuite name="redis transport">
            <directory>pkg/redis/Tests</directory>
        </testsuite>

        <testsuite name="dbal transport">
            <directory>pkg/dbal/Tests</directory>
        </testsuite>

        <testsuite name="null transport">
            <directory>pkg/null/Tests</directory>
        </testsuite>

        <testsuite name="sqs transport">
            <directory>pkg/sqs/Tests</directory>
        </testsuite>

        <testsuite name="pheanstalk transport">
            <directory>pkg/pheanstalk/Tests</directory>
        </testsuite>

        <testsuite name="gearman transport">
            <directory>pkg/gearman/Tests</directory>
        </testsuite>

        <testsuite name="rdkafka transport">
            <directory>pkg/rdkafka/Tests</directory>
        </testsuite>

        <testsuite name="Google Pub/Sub transport">
            <directory>pkg/gps/Tests</directory>
        </testsuite>

        <testsuite name="Mongodb transport">
            <directory>pkg/mongodb/Tests</directory>
        </testsuite>

        <testsuite name="enqueue-bundle">
            <directory>pkg/enqueue-bundle/Tests</directory>
        </testsuite>

        <testsuite name="job-queue">
            <directory>pkg/job-queue/Tests</directory>
        </testsuite>

        <testsuite name="simple-client">
            <directory>pkg/simple-client/Tests</directory>
        </testsuite>

        <testsuite name="async-event-dispatcher">
            <directory>pkg/async-event-dispatcher/Tests</directory>
        </testsuite>

        <testsuite name="async-command">
            <directory>pkg/async-command/Tests</directory>
        </testsuite>

        <testsuite name="dsn">
            <directory>pkg/dsn/Tests</directory>
        </testsuite>

        <testsuite name="wamp transport">
            <directory>pkg/wamp/Tests</directory>
        </testsuite>

        <testsuite name="monitoring">
            <directory>pkg/monitoring/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
