<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" colors="true" bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="Message Queue Natsjs Transport Test Suite">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
